.popup {
  width: 300px;
}

.toggle-slider {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:focus ~ .toggle {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5) !important;
}

input:checked ~ .toggle .toggle-slider {
  transform: translateX(100%);
  background-color: #4299e1;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
